<div class="head"><img src="<%templateskin%>/image/top.png" width="1013" height="197" /></div>
<div class="menu">
 <ul class="menu_list clearfix">
  <li><a href="/index.aspx">网站首页</a></li>
  <li><a href="<%linkurl("list_gonghui",54)%>">市总概况</a></li>
  <li><a href="<%linkurl("list_gonghui",56)%>">潍坊工运</a></li>
  <li><a href="<%linkurl("list_gonghui",58)%>">工会要闻</a></li>
  <li><a href="<%linkurl("list_gonghui",61)%>">政策法规</a></li>
  <li><a href="<%linkurl("list_gonghui",62)%>">下载中心</a></li>
  <li><a href="<%linkurl("list_gonghui",64)%>">党风廉政建设</a></li>
  <li><a href="#">网上办公</a></li>
 </ul>
 <ul class="menu_list clearfix">
  <li><a href="<%linkurl("list_gonghui",52)%>">组织建设</a></li>
  <li><a href="<%linkurl("list_gonghui",53)%>">民主管理</a></li>
  <li><a href="<%linkurl("list_gonghui",55)%>">宣教文体</a></li>
  <li><a href="<%linkurl("list_gonghui",57)%>">劳动楷模</a></li>
  <li><a href="<%linkurl("list_gonghui",59)%>">生产保护</a></li>
  <li><a href="<%linkurl("list_gonghui",60)%>">权益保障</a></li>
  <li><a href="<%linkurl("list_gonghui",63)%>">女职工工作</a></li>
  <li><a href="<%linkurl("list_gonghui",65)%>">工运理论研究</a></li>
 </ul>

</div>